<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gameboy - Debug</title>
        <link rel="stylesheet" href="/public/css/styles.css"/>
        <script language="javascript" src="/public/js/debug.js"></script>
    </head>
    <body onload="scrollToPC();">
        <div class="debugmenu">
            <ul>
                <li><a href="/debug/togglepaused">{{if .Paused}}Resume{{else}}Pause{{end}}</a></li>
                <li><a href="/debug/step">Step</a></li>
                <li><a href="/reset">Reset</a></li>
            </ul>
        </div>
        <div class="debugspacer">
        </div>
        <div class="rightbar">
            <div class="registers">
                <h2>Registers</h2>
                <table border="0">
                    <tr><td>A</td><td>{{.Registers.A}}</td><td>F</td><td>{{.Registers.F}}</td></tr>
                    <tr><td>B</td><td>{{.Registers.B}}</td><td>C</td><td>{{.Registers.C}}</td></tr>
                    <tr><td>D</td><td>{{.Registers.D}}</td><td>E</td><td>{{.Registers.E}}</td></tr>
                    <tr><td>H</td><td>{{.Registers.H}}</td><td>F</td><td>{{.Registers.L}}</td></tr>
                    <tr><td colspan="2">PC</td><td colspan="2">{{.Registers.PC}}</td></tr>
                    <tr><td colspan="2">SP</td><td colspan="2">{{.Registers.SP}}</td></tr>
                </table>
            </div>
            <div class="serial">
                <h2>Serial Output</h2>
                <pre>{{.TestOutput}}</pre>
            </div>
        </div>
        <table border="0" cellpadding="0" cellspacing="0">
        {{range .Op}}
            <tr id="{{.Id}}" onclick="location.href='/debug/togglebreakpoint/{{ .Index }}';" class="oprow">
            {{if .Breakpoint}}
                <td>•</td>
            {{else}}
                <td>&nbsp;</td>
            {{end}}
            <td>
                {{range .Flags}}
                    <a id="{{.}}"></a>
                {{end}}
                {{ .Index }}
            </td>
            <td>&nbsp;</td>
            <td>{{ .Description }}</td>
            </tr>
        {{end}}
        </table>
    </body>
</html>