<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gameboy - Debug</title>
        <link rel="stylesheet" href="/public/css/styles.css"/>
    </head>
    <body>
        <form method="GET">
            <input type="text" name="q" value="{{.Query}}"/>
            <input type="submit" value="Search"/>
        </form>
        <hr/>
        <table border="0" cellpadding="0" cellspacing="0">
        {{range .Trace}}
            <tr>
            <td>
                <a href="/trace?offset={{.Index}}">{{.Index}}</a>
            </td>
            <td>&nbsp;</td>
            <td>
                {{.Trace.Pos}}
            </td>
            <td>&nbsp;</td>
            <td>
                {{.Trace.Description}}
            </td>
            </tr>
        {{end}}
        </table>
    </body>
</html>