{{define "trace"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gameboy - Debug</title>
        <link rel="stylesheet" href="/public/css/styles.css"/>
    </head>
    <body>
        <div class="rightbar">
            <div class="serial">
                <h2>Serial Output</h2>
                <pre>{{.TestOutput}}</pre>
            </div>
        </div>
        <a href="/trace?offset=0">&lt;&lt; First</a>
        <a href="/trace?offset={{.Previous}}">&lt; Previous</a>
        {{.Start}}-{{.End}} of {{.Total}} operations
        <a href="/trace?offset={{.Next}}">Next &gt;</a>
        <a href="/trace?offset=last">Last &gt;&gt;</a>
        <hr/>
        {{template "searchform" .}}
        <hr/>
        {{template "tracetable" .}}
    </body>
</html>
{{end}}

{{define "searchtrace"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gameboy - Trace</title>
        <link rel="stylesheet" href="/public/css/styles.css"/>
    </head>
    <body>
        {{template "searchform" .}}
        <hr/>
        {{template "tracetable" .}}
    </body>
</html>
{{end}}

{{define "searchform"}}
<form method="GET" action="/trace/search">
    <input type="text" name="q" {{if .Query}}value="{{.Query}}"{{end}}/>
    <input type="submit" value="Search"/>
</form>
{{end}}

{{define "tracetable"}}
    <table border="1" cellpadding=5 cellspacing="5">
            <tr>
                    <th>Cycle</th>
                    <td>PC</td>
                    <th>Op</th>
                    <th>New Memory Values</th>
            </tr>
    {{range .Trace}}
        <tr>
        <td>
            <a href="/trace?offset={{.Index}}">{{.Index}}</a>
            {{if .Trace.Repeated}}
                (x{{.Trace.Repeated}})
            {{end}}
        </td>
        <td>
            {{.Trace.Pos}}
        </td>
        <td>
            {{.Trace.Description}}
        </td>
        <td>
            {{.Trace.MemoryValues}}
        </td>
        </tr>
    {{end}}
    </table>
{{end}}